#first{
    /* display: flex; */
    border: 2px solid rgba(164, 153, 153, 0.517);
    width: 35%;
    height: 80vh;
    border-radius: 10px;
    margin: auto;
    margin-top: 0px;
    /* padding-top: 200px; */
}

h1{
    margin-left: 50px;
}

.firstname{
   width: 350px; 
   border-radius: 3px;
   height: 25px;
   border: 2px solid black;
   /* margin-left: 50px; */
}

#three{
    margin-left: 52px;
}
button{
    width: 363px;
    background-color: rgb(255, 255, 85);
    border-radius: 5px;
    box-shadow: 5px yellow;
    margin-left: 52px;
    height: 30px;
}

h4{

    color: rgb(32, 44, 50);
    margin-left: 52px;
    /* border-inline: none; */
}


hr{
    color: aliceblue;

}
a{
    
    color: rgb(65, 135, 255);
}


img{
    margin-top: 0px;
    height: 100px;
    margin-left: 700px;
}
